".source.modelica":
    "Comments":
        prefix: "/*"
        body: "/* $1 */"
    "Model":
        prefix: "model"
        body: "model $1\n\t$2\nend $1;"
    "Function":
        prefix: "function"
        body: "function $1\n\t$2\nend $1;"
    "Record":
        prefix: "record"
        body: "record $1\n\t$2\nend $1;"
    "Class":
        prefix: "class"
        body: "class $1\n\t$2\nend $1;"
    "Block":
        prefix: "block"
        body: "block $1\n\t$2\nend $1;"
    "Package":
        prefix: "package"
        body: "package $1\n\t$2\nend $1;"
    "For":
        prefix: "for"
        body: "for $1 in $2:$3 loop\n\t$4\nend for;"
    "While":
        prefix: "while"
        body: "while $1 loop\n\t$2\nend while;"
    "if":
        prefix: "if"
        body: "if $1 then\n\t$2\nend if;"
    "When":
        prefix: "when"
        body: "when $1 then\n\t$2\nend when;"
